
{% extends "base.html" %}
{% block content %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">91LNG测试平台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">{{ user }}</a></li>
            <li><a href="/logout_view">退出</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>


  <div class="container-fluid">
      <div class="row">
        <div  class=" col-sm-1 col-md-1 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/manage/project_manage/">项目管理</a></li>
            <li><a href="/manage/module_manage/">模块管理</a></li>
            <li class="active"><a href="#">用例管理</a></li>
            <li><a href="#">任务管理</a></li>
            <li><a href="#">MockServer</a></li>
            <li><a href="#">组织机构</a></li>
            <li><a href="#">员工管理</a></li>
            <li><a href="#">权限管理</a></li>
          </ul>
        </div>

        {% if type == "list" %}
        <div class=" col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 main" style=" padding-right: 1px;
            margin-right: 1px;
            border-right-width: 1px;
            right: 0px;
            margin-left: 120px;
            width: 1691px;">
            <h2 class="sub-header">用例列表</h2>
            <div class="container-fluid" >
                <div class="col-lg-6" style="float: left">
                    <div class="input-group" style="float: left">
                        <form class="navbar-form" method="get" action="/interface/search_case_name/">
                            <div class="form-group">
                                <input name="case_name" type="text" placeholder="用例名称" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-success">搜索</button>
                        </form>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" style="float: right;"
                onclick="window.location.href='/interface/add_case/'">新增</button>
            </div>

          <div class="table-responsive">
            <table class="table table-condensed table-bordered table-striped table-hover">
              <thead>
                <tr class="info">
                    <th>序号</th>
                    <th>项目</th>
                    <th>模块</th>
                    <th>用例名称</th>
                    <th>用例URL</th>
                    <th>请求方法</th>
                    <th>HEADER</th>
                    <th>参数类型</th>
                    <th>参数</th>
                    <th>断言</th>
                    <th>用例状态</th>
                    <th>添加时间</th>
                    <th>操作</th>
                </tr>
              </thead>
              <tbody>
              {% for testcase in testcases %}
                <tr h-id="{{ testcase.nid }}" b-id="{{ testcase.business_id }}">
                     <td>{{ forloop.counter|add:start }}</td>
                        {% for module in modules %}
                            {% if module.id == testcase.module_id %}
                                {% for project in projects %}
                                    {% if project.id == module.project_id %}
                                        <td>{{ project.name }}</td>
                                         <td>{{ module.name }}</td>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                      <td>{{ testcase.name }}</td>
                      <td>{{ testcase.response_url }}</td>
                      <td>{{ testcase.response_method }}</td>
                      <td>{{ testcase.response_header }}</td>
                      <td>{{ testcase.response_type }}</td>
                      <td>{{ testcase.response_parameter }}</td>
                      <td>{{ testcase.response_assert }}</td>
                      <td>{{ testcase.get_status_display }}</td>
                      <td>{{ testcase.create_time }}</td>
                  <td>
                      <div class="btn-group operation">
                      <button class="btn btn-sm btn-info " id="alter_case_btn" type="button"
                                onclick="window.location.href='/interface/debug_case/{{testcase.id}}/'"/>
                                调试</button>
                      </div>

                      <div class="btn-group operation">
                      <button class="btn btn-sm btn-danger " id="delete_case_btn" type="button"
                      onclick="window.location.href='/interface/delete_case/{{testcase.id}}'"/>删除</button>
                      </div>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>

              <!-- 列表分页器 -->
            <div class="pagination" style="float: right;">
              <span class="step-links">
                {% if testcases.has_previous %}
                  <a href="?page={{ testcases.previous_page_number }}">上一页</a>
                {% endif %}
                  <span class="current">
                    Page {{ testcases.number }} of {{ testcases.paginator.num_pages }}
                  </span>
                {% if testcases.has_next %}
                  <a href="?page={{ testcases.next_page_number }}">下一页</a>
                {% endif %}
              </span>
            </div>
          </div>


        </div>
        {% endif %}

            <!--新增用例页面-->
            {% if type == "add" %}
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div class="row">
                    {% block add_case %}
                        <!--add_case.html页面-->
                    {% endblock %}
                </div>
            </div>
            {% endif %}

          <!--用例调试页面-->
          {% if type == "debug" %}
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <div class="row">
                        {% block debug_case %}
                        <!--debug_case.html页面-->
                        {% endblock %}
                    </div>
                </div>
          {% endif %}

      </div>
  </div>
{% endblock %}



