{% extends "base.html" %}
{% block content %}
    <form class="form-signin" action="/login_action/" method="POST" enctype="multipart/form-data">
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">测试平台</h1>
      </div>

      <div class="form-label-group">
          用户名：<input type="text" id="inputEmail" name="username" class="form-control" placeholder="username" required autofocus>
      </div>
      <div class="form-label-group">
          密  码：<input type="password" id="inputPassword" name="password" class="form-control" placeholder="password" required>
      </div>

      <font color="red">{{ error }}</font> <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
          <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    </div>
        {% csrf_token %}
    </form>
{% endblock %}













