
{% extends "base.html" %}
{% block content %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">91LNG测试平台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">{{ user }}</a></li>
            <li><a href="/logout_view">退出</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>


  <div class="container-fluid">
      <div class="row">
        <div  class=" col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li ><a href="/manage/project_manage/">项目管理</a></li>
            <li class="active"><a href="#">模块管理</a></li>
            <li><a href="#">用例管理</a></li>
            <li><a href="#">任务管理</a></li>
            <li><a href="#">MockServer</a></li>
            <li><a href="#">组织机构</a></li>
            <li><a href="#">员工管理</a></li>
            <li><a href="#">权限管理</a></li>
          </ul>
        </div>

        {% if type == "list" %}
        <div class=" col-sm-8 col-sm-offset-1 col-md-10 col-md-offset-2 main">
          <h2 class="sub-header">模块管理
          <button type="button" class="btn btn-lg btn-primary" style="float: right;"
                onclick="window.location.href='/manage/add_module/'">
                新增</button>
          </h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>项目名称</th>
                  <th>模块名称</th>
                  <th>模块描述</th>
                  <th>模块状态</th>
                  <th>添加时间</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
              {% for module in modules %}
                <tr>
                    <td>{{ module.id }}</td>
                    <td>{{ module.project }}</td>
                    <td>{{ module.name }}</td>
                    <td>{{ module.describe }}</td>
                    <td>{{ module.status }}</td>
                     <td>{{ module.create_time }}</td>
                    <td>
                      <div class="btn-group operation">
                      <button class="btn btn-sm btn-info " id="alter_module_btn" type="button"
                                onclick="window.location.href='/manage/edit_module/{{module.id}}'"/>
                                编辑</button>
                      </div>
                      <div class="btn-group operation">
                      <button class="btn btn-sm btn-success " id="module_btn" type="button"
                      onclick="window.location.href='/manage/view_module/{{module.id}}'"/>查看</button>
                      </div>
                      <div class="btn-group operation">
                      <button class="btn btn-sm btn-danger " id="delete_module_btn" type="button"
                      onclick="window.location.href='/manage/delete_module/{{module.id}}'"/>删除</button>
                      </div>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% endif %}

        {% if type == "add" %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h3 class="sub-header">添加模块</h3>
            <div class="table-responsive">
                <form id="add_module_form" method="post" action="/manage/add_module/" >
                    {% csrf_token %}
                    {{ form.as_p }}
                    {{ msg }}
                    <button type="submit" class="btn btn-success">创建</button>
                </form>
            </div>
        </div>
        {% endif %}

        {% if type == 'edit'%}
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h3 class="sub-header">编辑模块</h3>
                <div class="table-responsive">
                    <form role="form" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {{ msg }}
                        <button class="btn btn-default" type="button"
                                onclick="window.location.href='/manage/module_manage/'"
                                style="margin-right: 10px;">取消</button>
                        <button type="submit" class="btn btn-success">保存</button>
                    </form>
                </div>
            </div>
        {% endif %}
      </div>
  </div>
{% endblock %}

