
{% extends "base.html" %}
{% block content %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">91LNG测试平台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">{{ user }}</a></li>
            <li><a href="/logout_view">退出</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>


  <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="#">项目管理</a></li>
            <li><a href="#">模块管理</a></li>
            <li><a href="#">用例管理</a></li>
            <li><a href="#">任务管理</a></li>
            <li><a href="#">MockServer</a></li>
            <li><a href="#">组织机构</a></li>
            <li><a href="#">员工管理</a></li>
            <li><a href="#">权限管理</a></li>
          </ul>
        </div>

        {% if type == "list" %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 class="sub-header">项目管理
          <button type="button" class="btn btn-lg btn-primary" style="float: right;"
          onclick="window.location.href='/manage/add_project/'">新增</button>
          </h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>项目名称</th>
                  <th>项目描述</th>
                  <th>项目状态</th>
                  <th>添加时间</th>
                </tr>
              </thead>
              <tbody>
              {% for project in projects %}
                <tr>
                  <td>{{ project.id }}</td>
                  <td>{{ project.name }}</td>
                  <td>{{ project.describe }}</td>
                  <td>{{ project.status }}</td>
                  <td>{{ project.create_time }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% endif %}

        {% if type == "add" %}

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

          <h3 class="sub-header">添加项目</h3>
          <div class="table-responsive">
             <form id="add_project_form" method="post" action="{% url 'add_project' %}" >
                {% csrf_token %}
                <label>名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称</label>
                <input  type="text" id="project_name" name="name" value="{{ add_project_form.name.value|default_if_none:'' }}" placeholder="请输入您的项目名称" />
                <label>描&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;述</label>
                <input type="text" id="id_describe" name="describe"  value="{{ add_project_form.describe.value }}" placeholder="请输入你的项目描述" />
                <label>状&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;态</label>
                <input type="radio" name="status" value="1" checked >开启
                <input type="radio" name="status" value="0">关闭

                <input class="btn btn-lg btn-primary " id="add_project_btn" type="submit" value="提交" />
             </form>
          </div>

        </div>

        {% endif %}
      </div>
  </div>

  {% endblock %}

